.mission{
    position: relative;

    background-color: #b11b1e;
    color: white;
    text-align: center;

    width: 85%;
    margin-inline: auto;
    margin-top: 15px;
    padding: 1px;

    border-radius: 40px;

}

p{
    padding-inline: 40px;
    margin-top: 15px;
    margin-bottom: 10px;
}